# Q1_Part ONE

- use vehicle_collision data.
- For each month in 2016 calculate:
    - Total accidents in NYC
    - Total accidents in Manhattan
    - Calculate the percentage of accidents in Manhattan over total in NYC
- Generate CSV with 4 columns(Month, Manhattan, NYC, %)

In [2]:
#from pandas import Series, DataFrame
import os
import pandas as pd

In [3]:
#getting current working directory
b = os.getcwd()


#reading the csv file
df = pd.read_csv(b+"\\"+"Data\\vehicle_collisions.csv", parse_dates=['DATE'], usecols=[0,1,3]) #vehicle_collisions.csv, , delim_whitespace=True, , header=None

In [4]:
#printing first 5 columns of the data frame
df.head(5)

   UNIQUE KEY       DATE   BOROUGH
0     3146911 2015-01-01    QUEENS
1     3146180 2015-01-01       NaN
2     3146384 2015-01-01  BROOKLYN
3     3146013 2015-01-01  BROOKLYN
4     3146120 2015-01-01       NaN

In [5]:
 # getting data for only the year of 2016 and storing it in new dataframe
df_2016 = df[df.DATE.dt.year == 2016]

df_2016[:5]

        UNIQUE KEY       DATE    BOROUGH
217539     3374565 2016-01-01  MANHATTAN
217540     3511927 2016-01-01   BROOKLYN
217541     3363408 2016-01-01  MANHATTAN
217542     3364610 2016-01-01  MANHATTAN
217543     3363371 2016-01-01  MANHATTAN

In [6]:
# Offsetting the warning
pd.options.mode.chained_assignment = None

# Extract month for each date in the dataframe containing 2016 data
df_2016['Month'] = df_2016['DATE'].dt.strftime('%b')

#gives the month in numbers
#df_2016['Month'] = pd.DatetimeIndex(df_2016['DATE']).month

df_2016.head()

        UNIQUE KEY       DATE    BOROUGH Month
217539     3374565 2016-01-01  MANHATTAN   Jan
217540     3511927 2016-01-01   BROOKLYN   Jan
217541     3363408 2016-01-01  MANHATTAN   Jan
217542     3364610 2016-01-01  MANHATTAN   Jan
217543     3363371 2016-01-01  MANHATTAN   Jan

In [7]:
# counting the number of accidents in NYC by grouping it with months
NYC_Data = df_2016['UNIQUE KEY'].groupby(df_2016['Month']).count()

NYC_Data

Month
Apr    18331
Aug    19678
Dec    19214
Feb    15985
Jan    18101
Jul    19867
Jun    19433
Mar    18471
May    20052
Nov    19315
Oct    19666
Sep    19492
Name: UNIQUE KEY, dtype: int64

In [8]:
# Sorting month according to calendar
NYC_Data.index = pd.CategoricalIndex(NYC_Data.index, 
                               categories=['Jan', 'Feb', 'Mar', 'Apr','May','Jun', 'Jul', 'Aug','Sep', 'Oct', 'Nov', 'Dec'], 
                               sorted=True)
NYC_Data = NYC_Data.sort_index()

NYC_Data

Month
Jan    18101
Feb    15985
Mar    18471
Apr    18331
May    20052
Jun    19433
Jul    19867
Aug    19678
Sep    19492
Oct    19666
Nov    19315
Dec    19214
Name: UNIQUE KEY, dtype: int64

In [9]:
# grouping Data by month and counting the number of accidents in Manhattan
Manhattan_Data = df_2016['UNIQUE KEY'][df_2016['BOROUGH'] == "MANHATTAN"].groupby(df_2016['Month']).count()

# Sorting month according to calendar
Manhattan_Data.index = pd.CategoricalIndex(Manhattan_Data.index, 
                               categories=['Jan', 'Feb', 'Mar', 'Apr','May','Jun', 'Jul', 'Aug','Sep', 'Oct', 'Nov', 'Dec'], 
                               sorted=True)
Manhattan_Data = Manhattan_Data.sort_index()
Manhattan_Data

Month
Jan    3178
Feb    3195
Mar    3479
Apr    3540
May    3432
Jun    2956
Jul    3055
Aug    2844
Sep    2744
Oct    2831
Nov    2838
Dec    2634
Name: UNIQUE KEY, dtype: int64

In [15]:
# Create new Data frame with both NYC and Manhattan data
Columns = ["Month","Manhattan", "NYC", "Percentage"]
dataFrame = pd.DataFrame({'Month' : NYC_Data.index, 'Manhattan' : Manhattan_Data, 'NYC' : NYC_Data, 'Percentage' : Manhattan_Data / NYC_Data})
#Percent_df[Columns].head()
dataFrame

       Manhattan Month    NYC  Percentage
Month
Jan         3178   Jan  18101    0.175570
Feb         3195   Feb  15985    0.199875
Mar         3479   Mar  18471    0.188349
Apr         3540   Apr  18331    0.193115
May         3432   May  20052    0.171155
Jun         2956   Jun  19433    0.152112
Jul         3055   Jul  19867    0.153773
Aug         2844   Aug  19678    0.144527
Sep         2744   Sep  19492    0.140776
Oct         2831   Oct  19666    0.143954
Nov         2838   Nov  19315    0.146932
Dec         2634   Dec  19214    0.137088

In [19]:
#df1 = pd.merge(Manhattan, NYC, on='key',how='outer')
#merge is giving error as 
type(Manhattan_Data)

pandas.core.series.Series

In [21]:
#function to check is directory exists
def funCheckDir(path):
    directory = os.path.dirname(path) # defining directory path
    if not os.path.exists(directory): # checking if directory already exists
        os.makedirs(directory) # making a directory
        
resultsPath = b+"/Q1_Part_1.csv"
funCheckDir(resultsPath)

# Saving our dataFrame to csv file.
#Percent_df[Columns].to_csv(resultsPath, index=False, encoding='utf-8')
dataFrame.to_csv(resultsPath, index=False, encoding='utf-8')

In [22]:
!jupyter nbconvert --to script Q1_Part_1.ipynb

[NbConvertApp] Converting notebook Q1_Part_1.ipynb to script
[NbConvertApp] Writing 3074 bytes to Q1_Part_1.py