# Q2_Part ONE
- use employee_compensation dataset.
- Calculate mean of total compensation for every department
- Groupby the result with Organization droup with highest total compensation
- Generate CSV with 3 columns(Organization Group, department and Total Compensation)

In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
#getting current working directory
b = os.getcwd()

#reading the csv file
df = pd.read_csv(b+"\\"+"Data\\employee_compensation.csv", usecols=[3,5,21]) #, parse_dates=['DATE']), usecols=[0,1,3,19,20,21,22,23]) #usecols=[0,1,3]) #vehicle_collisions.csv, , delim_whitespace=True, , header=None

In [4]:
#printing the first 5 rows of the dataset
df.head()

,Organization Group,Department,Total Compensation
0,"Public Works, Transportation & Commerce",Airport Commission,143916.66
1,Community Health,Public Health,107914.16
2,Human Welfare & Neighborhood Development,Department of the Status of Women,267.28
3,General Administration & Finance,Human Resources,2519.13
4,Culture & Recreation,Recreation and Park Commission,1726.68

In [5]:
#Calculating the mean of total compensation group by Organization and Department
AvgComp = df.groupby(['Organization Group','Department']).mean()
AvgComp.head()

                                          Total Compensation
Organization Group   Department
Community Health     Public Health              96190.190140
Culture & Recreation Academy of Sciences       107319.727692
                     Arts Commission            94339.597388
                     Asian Art Museum           71401.520060
                     Fine Arts Museum           44205.439895

In [6]:
#resetting the index to bring hierarchical index to flat index
AvgComp = AvgComp.reset_index()
AvgComp.head()

     Organization Group           Department  Total Compensation
0      Community Health        Public Health        96190.190140
1  Culture & Recreation  Academy of Sciences       107319.727692
2  Culture & Recreation      Arts Commission        94339.597388
3  Culture & Recreation     Asian Art Museum        71401.520060
4  Culture & Recreation     Fine Arts Museum        44205.439895

In [8]:
#sorting the value in descending order based on Total Compensation
AvgComp = AvgComp.sort_values(['Organization Group','Total Compensation'], ascending=[True,False])

AvgComp.head()

     Organization Group           Department  Total Compensation
0      Community Health        Public Health        96190.190140
5  Culture & Recreation          Law Library       188424.362222
1  Culture & Recreation  Academy of Sciences       107319.727692
2  Culture & Recreation      Arts Commission        94339.597388
8  Culture & Recreation         War Memorial        76250.068022

In [9]:
#function to check is directory exists
def funCheckDir(path):
    directory = os.path.dirname(path) # defining directory path
    if not os.path.exists(directory): # checking if directory already exists
        os.makedirs(directory) # making a directory
        
resultsPath = b+"/Q2_Part_1.csv"
funCheckDir(resultsPath)

# Saving our result dataFrame to csv file.
AvgComp.to_csv(resultsPath, index=False, encoding='utf-8')

In [10]:
!jupyter nbconvert --to script Q2_Part_1.ipynb

[NbConvertApp] Converting notebook Q2_Part_1.ipynb to script
[NbConvertApp] Writing 1668 bytes to Q2_Part_1.py