# Q3_PART ONE
- Use ‘cricket_matches’ data set.
- Calculate the average score for each team which host the game and win the game.
- Remember that if a team hosts a game and wins the game, their score can be innings_1 runs or innings_2 runs. You have to check if the host team won the game, check which innings they played in (innings_1 or innings_2), and take the runs scored in that innings. The final answer is the average score of each team satisfying the above condition.
- Display a few rows of the output use df.head()
- Generate a csv output

In [2]:
#from pandas import Series, DataFrame
import os
import pandas as pd
import numpy as np

In [12]:
#getting current working directory
b = os.getcwd()


#reading the csv file
df = pd.read_csv(b+"\\"+"Data\\cricket_matches.csv", usecols=[6,8,12,13,17,18])

In [13]:
df.head()

,home,winner,innings1,innings1_runs,innings2,innings2_runs
0,Durham,Durham,Nottinghamshire,157.0,Durham,160.0
1,Hampshire,Hampshire,Hampshire,153.0,Sussex,148.0
2,Somerset,Warwickshire,Warwickshire,188.0,Somerset,169.0
3,Surrey,Surrey,Middlesex,155.0,Surrey,158.0
4,Worcestershire,Worcestershire,Northamptonshire,150.0,Worcestershire,151.0

In [14]:
df1 = df[df['home'] == df['winner']]
df1.head()

,home,winner,innings1,innings1_runs,innings2,innings2_runs
0,Durham,Durham,Nottinghamshire,157.0,Durham,160.0
1,Hampshire,Hampshire,Hampshire,153.0,Sussex,148.0
3,Surrey,Surrey,Middlesex,155.0,Surrey,158.0
4,Worcestershire,Worcestershire,Northamptonshire,150.0,Worcestershire,151.0
5,Gloucestershire,Gloucestershire,Worcestershire,122.0,Gloucestershire,126.0

In [15]:
df1['score'] = np.where(df1['home'] == df1['innings1'], df1['innings1_runs'], df1['innings2_runs'])
df1.head()

C:\Users\swaru\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,home,winner,innings1,innings1_runs,innings2,innings2_runs,score
0,Durham,Durham,Nottinghamshire,157.0,Durham,160.0,160.0
1,Hampshire,Hampshire,Hampshire,153.0,Sussex,148.0,153.0
3,Surrey,Surrey,Middlesex,155.0,Surrey,158.0,158.0
4,Worcestershire,Worcestershire,Northamptonshire,150.0,Worcestershire,151.0,151.0
5,Gloucestershire,Gloucestershire,Worcestershire,122.0,Gloucestershire,126.0,126.0

In [16]:
total_avg = df1['score'].groupby(df1['home']).mean()
total_avg.head()

home
Abahani Limited       172.000000
Abbottabad Falcons    139.454545
Abbottabad Region     182.666667
Abbottabad Rhinos     165.000000
Adelaide Strikers     163.111111
Name: score, dtype: float64

In [18]:
df2 = pd.DataFrame({ 'score' : total_avg})
df2.head()

                         score
home
Abahani Limited     172.000000
Abbottabad Falcons  139.454545
Abbottabad Region   182.666667
Abbottabad Rhinos   165.000000
Adelaide Strikers   163.111111

In [19]:
df3 = pd.DataFrame({'home' : df2.index,'score' : total_avg })
df3.head()

                                  home       score
home
Abahani Limited        Abahani Limited  172.000000
Abbottabad Falcons  Abbottabad Falcons  139.454545
Abbottabad Region    Abbottabad Region  182.666667
Abbottabad Rhinos    Abbottabad Rhinos  165.000000
Adelaide Strikers    Adelaide Strikers  163.111111

In [20]:
#function to check is directory exists
def funCheckDir(path):
    directory = os.path.dirname(path) # defining directory path
    if not os.path.exists(directory): # checking if directory already exists
        os.makedirs(directory) # making a directory
        
resultsPath = b+"/Q3_Part_1.csv"
funCheckDir(resultsPath)

# Saving our dataFrame to csv file.
#Percent_df[Columns].to_csv(resultsPath, index=False, encoding='utf-8')
df3.to_csv(resultsPath, index=False, encoding='utf-8')

In [21]:
!jupyter nbconvert --to script Q3_Part_1.ipynb

[NbConvertApp] Converting notebook Q3_Part_1.ipynb to script
[NbConvertApp] Writing 1792 bytes to Q3_Part_1.py